.topnav-right{
  float: right;
  margin-right: 50px;
  padding-top: 5px;
  

}
.topnav-right a {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-decoration: dotted;
}
.img-eammu{
  padding-left: 20px;
  padding-top: 10px;
}
/* .motto{
  font-size:5rem;
  text-align: center;
  padding-top: 15%;
  font-family: sans-serif;
  color: rgb(0, 125, 84);
  color: rgb(198, 252, 198);
} */

/* Motto */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: clamp(3rem, 2.8vw, 5rem);
  font-family: Raleway;
  font-weight: bold;
}

.typewriter {
  color: #c4ff55;
	width: 15ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #4a0000;
	animation: cursor 1s step-start infinite, 
    text 5s steps(18) alternate infinite;
  
}

@keyframes cursor {
	0%, 100% { 
    border-color: #4a0000; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 16ch; 
  }
}
/* motto */
