*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Open Sans', sans-serif;
}

/* Heading Section styles */
.menu-container{
  background-color:rgb(241, 241, 241) ;
  padding: 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 15px rgb(191, 191, 191);
}

.menus ul{
  display: flex;
  
}
.menus li{
  list-style: none;
  margin:10px;
  padding-right: 15px;
}
.menus li a{
  text-decoration: none;
  font-size:20px;
  font-weight: bold;
  color: rgb(56, 56, 56);
}
.menus li a:hover {
  color: rgb(1, 34, 8);
 
}
/* logo Styles */
.eammu-logo{
  width: 250px;
  margin-left: 15px;
}

/* motto section */

.motto-container{
  /* text-align:  center; */
  padding-top: 15%;
  padding-left: 30%;
  width: 50%;
  align-items: center;
}
.brand-name{
  color: rgb(1, 34, 8);
  font-size: 3rem;
  margin-bottom: 15px;
}
.brand-motto{
  font-size: 30px;
  color: rgb(78, 78, 78);
  margin-bottom:10px ;
}
.btn-motto{
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  font-weight:bolder;
  border: none;
  cursor: pointer;
  background-color: rgb(1, 34, 8);
}
.btn-motto:hover{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(1, 34, 8);
  box-shadow:4px 4px 10px rgb(1, 34, 8);
}
.btn-motto a:hover{
  /* border: 1px solid; */
  color:rgb(1, 34, 8) ;
}
.btn-motto a{
  text-decoration: none;
  color: rgb(232, 232, 232);
}
.motto-description{
  font-size:20px;
  color:rgb(1, 34, 8) ;
}

/* Our leadership team */

.our-team{
  margin-top: 120px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color:rgb(78, 78, 78); ;
}

.leader-container{
  display: flex;
  justify-content: space-around;
  align-items:center;
  margin: 30px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 15px rgb(199, 199, 199);
  width: 1600px;
  margin: 0 auto;
  border-radius: 5px;

}
.leader{
  height: 250px;
  width: 340px;
  background-color: rgb(237, 236, 236);
  padding: 50px;
  margin-top: 15px;
  border-radius: 5px;
  
}
.leader:hover{
  box-shadow: 4px 4px 15px rgb(1, 34, 8);
}


/* hr margin */
hr{
  /* margin-top: 20px; */
}
/* about us */
.about-us{
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: center;
  padding: 200px;
  
  box-shadow: 5px 5px 15px rgb(199, 199, 199);
  border-radius: 5px;

}
.company-about{
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 55px;
  color: rgb(78, 78, 78);
}
.company-name{
  margin-top: 100px;
}
.company-name a{
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
  color:rgb(1, 34, 8) ;
}

/* footer section */
.footer-item{
  margin: 50px;
  display: flex;
  justify-content: space-between;
}
.copyright-section{
  margin: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copyright-section h1{
  color: rgb(1, 34, 8);
}

/* eammu footer links section */
.important-links h1{
  font-size: 30px;
  font-weight: 550;

}

.links-item{
  margin-top:20px ;
}
.links-item li{
  margin-top: 10px;
  list-style: none;
}
.links-item li a{
  text-decoration: none;
  font-size: 20px;
  font-weight:600;
  color:rgb(78, 78, 78) ;
}
.links-item li a:hover{
  color:rgb(1, 34, 8) ;
}

.copyright-section p {
  font-size: 20px;
  color:rgb(78, 78, 78) ;

}
.copyright-section a{
  text-decoration: none;
  font-weight: 600;
  color:rgb(1, 34, 8) ;

}
.copyright-section a:hover{
  color:rgb(78, 78, 78)  ;
}
 
