*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Open Sans', sans-serif;
}

/* hide section */


/* heading Section */

.menu-container{
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 5px 5px 10px rgb(167, 167, 167);
}
.brand-logo img{
  width: 250px;
  margin-left: 20px;
}
.menus li{
  list-style: none;
  margin-right: 20px;
}
.menus ul{
  display: flex;
}
.menus li a{
  text-decoration: none;
  font-size:18px;
  font-weight: bold;
  color: rgb(107, 107, 107);
}
.menus li a:hover {
  color: rgb(1, 34, 8);
}



/* css motto section */
.motto-container{
  padding-top: 15%;
  padding-left: 2.5%;
}
.brand-name{
  color: rgb(1, 34, 8);
  font-size: 3rem;
  margin-bottom: 15px;
}
.brand-motto{
  font-size: 30px;
  color: rgb(78, 78, 78);
  margin-bottom:10px ;
}
.motto-description strong{
  font-size:20px;
  color: rgb(1, 34, 8);
  
}

.btn-motto{
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  font-weight:bolder;
  border: none;
  cursor: pointer;
  background-color: rgb(1, 34, 8);
}
.btn-motto a{
  text-decoration: none;
  color: rgb(232, 232, 232);
}
.btn-motto:hover{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(1, 34, 8);
  box-shadow:4px 4px 10px rgb(1, 34, 8);
}
.btn-motto a:hover{
  color:rgb(1, 34, 8) ;
}


/* Our leadership team */

.our-team{
 
  margin-top: 120px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color:rgb(78, 78, 78); ;
}

/* .our-leader{
  margin-bottom: 50px;
  
} */

.leader-container{
  box-shadow: 5px 5px 15px gray;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
 

}
.leader{
  height: 260px;
  width: 340px;
  background-color: rgb(237, 236, 236);
  padding: 50px;
  margin-top: 15px;
  border-radius: 5px;
  
}
.leader:hover{
  box-shadow: 4px 4px 15px rgb(1, 34, 8);
}


/* hr margin */
hr{
  /* margin-top: 20px; */
}
/* about us */

.about-us{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  padding-top: 80px;
  margin-bottom: 50px;

}
.company-about{
  margin-bottom: 15px;
  font-size: 40px;
  color: gray;
}
.company-description{
 width: 80%;
 font-size: 15px;
 text-align: center;
}
.company-name{
  margin-top: 40px;
  
}
.company-name a{
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
  color:rgb(1, 34, 8) ;
}
.company-name a:hover{
  color: gray;
}

/* footer section */
.footer-item{
  margin: 50px;
  display: flex;
  justify-content: space-between;
}
.copyright-section{
  margin: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copyright-section h1{
  color: rgb(1, 34, 8);
}

/* eammu footer links section */
.important-links h1{
  font-size: 25px;
  font-weight: 850;

}

.links-item{
  margin-top:20px ;
}
.links-item li{
  margin-top: 10px;
  list-style: none;
}
.links-item li a{
  text-decoration: none;
  font-size: 15px;
  font-weight:500;
  color:rgb(78, 78, 78) ;
}
.links-item li a:hover{
  color:rgb(1, 34, 8) ;
}

.copyright-section p {
  font-size: 20px;
  color:rgb(78, 78, 78) ;

}
.copyright-section a{
  text-decoration: none;
  font-weight: 600;
  color:rgb(1, 34, 8) ;

}
.copyright-section a:hover{
  color:rgb(78, 78, 78)  ;
}


 
/* Responsive  */

@media screen and (max-width:576px) {
  /* heading Section */
  .menu-container{
    flex-direction: column;
  }
  .menus li a{
      font-size:12px;
      font-weight: bold;
    }

    .brand-logo img{
      width: 150px;
  } 
  .menus li{
      margin:5px;
  }
 /* css motto section */

 .motto-container{
  padding-top: 15%;
  padding-left: 10%;
  align-items: center;
}
.brand-name{
  font-size: 2rem;
  margin-bottom: 10px;
}
.brand-motto{
  font-size: 24px;
  margin-bottom:10px ;
}
.motto-description{
  font-size:15px;
}



  /* Company about */
  

  .company-about{
    font-size: 30px;
    
  }

  .company-description{
    font-size: 12px;
   }

  .company-name a{
    font-size: 16px;
  }

  /* Our leader */

  .our-team{
    margin-top: 50px;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .leader-container{
    flex-direction: column;
  }

  .leader{
    height: 180px;
    width: 200px;

  }
    /* footer section */

    .footer-item{
      margin: 20px;
      flex-direction: column;
      gap: 20px;
    }
    .copyright-section{
      margin: 20px;
      flex-direction: column;

    }
    .copyright-section h1{
     font-size: 20px;
    }
    .copyright-section p{
      font-size: 14px;
      margin-bottom: 10px;
      
    }

    .important-links h1{
      font-size: 18px;
      font-weight: 800;
    
    }

    .links-item li a{
      font-size: 12px;
  
    }
}